
body{
    margin: 0;
    font-family: Proxima Nova;
    color: grey;
    font-size: 18px;
}

/**********************************clear********************************/
    *{
        box-sizing: border-box;
    }

    li{
        list-style: none;
    }

    a, a:hover, a:focus{
        text-decoration: none;
    }

    ul{
        margin: 0px;
    }

    ul{
        padding: 0px;
    }
    

/**********************************usual********************************/


    /*************img resizing****************/
    .img-fluid {
        width: 100%;
        height: auto;
    }

    .img-fluid-h {
        height: 100%;
        width: auto;
    }

    /*************text adjust*****************/

    .justify {
        text-align: justify; 
    }

    /* parallel - center */
    .center {
        text-align: center;
    }

    /* vertical - center */
    /*the prarent node should better have a fixed height 
    and be relateive/fix/absolute*/
    .center-h{
        position: relative;
        top: 50%;
        -ms-transform: translate(0, -50%); /* IE 9 */
        -webkit-transform: translate(0, -50%); /* Safari */
        transform: translate(0, -50%);

    }

    /*************div adjust*****************/

    /* with wider left&right padding */
    .wider{
        padding-left: 35px;
        padding-right: 35px; 
    }

    /* with wider distance between row and row*/
    .row{
        margin-bottom: 30px;
    }


    /*************  colors ****************/
    .blue{
        color: #1058a2;
    }

    .white{
        color: #f9f9f9;
    }

    .red{
        color: #b31b1b; 
    }

    .blue a{
        color: #1058a2;
    }


/******************************topnav & botnav********************************/

    /*************nav-head****************/
    .nav-head{
        height: 100%;
        float: left;
        padding: 2px 45px 2px 25px; 
    }

    .nav-head > *{
        display: block;
        float: left;
        margin-left: 20px;
    }

    /*************nav-right****************/
    .nav-right{
        padding-right: 45px;
        float: right;
        height: 100%;

    }

    .nav-right li{
        float: left;
        margin-left: 42px;    
    }

    .nav-toggle{
        margin-right: 20px;
        display: none;
        padding: 8px 10px 13px 10px;
        background-color: #1058a2;
        float: right;
        border:1px solid transparent;
        border-radius: 5px;
    }

    .nav-toggle .icon{
        display: block;
        margin-top: 6px;
        width: 25px;
        height: 2px;
        background-color: #f9f9f9;
        border-radius: 1px;
    }

    /****************top nav detail**********************/
    .topnav {
        /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)*/;
        border-bottom:  1px solid #f2f2f2; 
        background-color: #f9f9f9;
        width: 100%;
        position: fixed;
        top: 0px;
        z-index: 500;
        height: 80px;
        font-size: 20px;
        padding: 0px;
    
    }

    .topnav .nav-head {
        height: 80px;
    }
    .topnav .nav-head a{
        margin-top: 10px;
        margin-bottom: 10px; 
    }

    /* Change the color of links on hover */
    .topnav .nav-right a:hover {
        border-bottom: 2px solid #b31b1b;
        }

    /* Add a color to the active/current link */
    .topnav .nav-right a:active {
        border-bottom: 2px solid #b31b1b;
        
    }

    .topnav .nav-right a.active{
         border-bottom: 2px solid #b31b1b;
    }

    .topnav .nav-right li{
        margin-top: 25px;
        margin-bottom: 25px; 
    }


    /****************bottom nav detail**********************/
    .botnav {
        /*background-image: url("images/bar.jpg");*/
        background-color: gray;
        overflow: hidden;
        width: 100%;
        position: relative;
        bottom: 0px;
        left: 0;
        font-size: 16px;
        height: 60px;
        padding: 0 45px 0 25px;
    }

    /* Style the links inside the navigation bar */
    .botnav .nav-right a {
        color: #d3d3d3;
    }

    /* Change the color of links on hover */
    .botnav .nav-right a:hover {
        color: #fff;
    }

    /****************** nav responsive ********************/
    @media (max-width: 1200px){

        .topnav{
            height: auto;
        }

        .topnav .nav-toggle{
            display: block;
        }

        .topnav .nav-head{
            border-bottom: 1px solid #fff; 
            float: none;
        }

        .topnav .nav-right{
            padding: 0px;
            float: none;
            display: none;
        }

        .topnav .nav-right li{
            background-color: #f9f9f9;
            display: block;
            float: none;
            border-bottom: 1px solid #fff; 
            margin: 0;
            padding: 20px 55px;
        }

        .topnav .nav-right li:hover{
            background-color: #ffffff;
            font-style: italic;
        }

        .topnav .nav-right a:hover {
            border-style: none;
        }


        
    }


/*******************************Main Content*************************************/
    #content {
        padding: 2.4em 0;
        width: 100%;
    }

    .content {
        margin-top: 80px;
        padding: 2.4em 0;
        width: 100%;   
    }

    @media (min-width: 1200px)
    {
        .container{
            margin-left: auto;
            margin-right: auto;  
            width: 900px;
        }
    }


    @media (min-width: 1400px)
    {
        .container{
            margin-left: auto;
            margin-right: auto;  
            width: 1200px;
        }
        body{
            font-size: 21px; 
        }
    }


/********************************About page**********************************/
    .banner{
        margin-top: 80px;
        clear: both;
        background: url("images/hike.jpg");
        background-position: center 70%;
        background-size: cover;
        height: 550px;
    }

    .banner h1{
        font-size: 55px;
        width: 100%;
        color: #f9f9f9;
        font-family: Catamaran;
    }

/********************************Member page**********************************/


/********************************Subteam page**********************************/

    .bannersub{
        margin-top: 80px;
        clear: both;
        background: url("images/groupb.jpg");
        background-position: center 50%;
        background-size: cover;
        height: 400px;
    }

    .bannersub h1{
        font-size: 55px;
        width: 100%;
        color: #f9f9f9;
        font-family: Catamaran;
        margin-top: 0px;
    }

    .bannersub h2{
        font-size: 22px;
        width: 100%;
        color: #f9f9f9;
        font-family: Proxima Nova;
        margin-top: 0px;
    }

    .containersub {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 115px;
    }

    input[type=button], input[type=submit], input[type=reset] {
        background-color: #grey;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }



/********************************Sponsor page**********************************/

    .sponsors .bannersub{
        margin-top: 80px;
        clear: both;
        background: url("images/hike1b.jpg");
        background-position: center 50%;
        background-size: cover;
        height: 400px;
    }

    .sponsors a{
        color: #f9f9f9;
        border-style: solid;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-bottom-color: #b31b1b;
    }
    .sponsors a:hover{
        border-bottom-color: #1058a2;
    }


/********************************Contact page**********************************/

    .contact input[type=submit], input[type=reset]{
        display: block;
        background-color: #1058a2;
        border:none;
        padding: 5px 10px;
        cursor: pointer;
        color: white;
        margin-top: 15px;
    }




    .contact input[type=text]{
        box-sizing: border-box;
        margin-bottom: 10px;
        padding: 5px 5px;
        width: 440px;  
        display: block;
        border: 1px solid grey;
        background-color: #fff;
        border-radius: 2px;
        text-align: left;
    }







