
body{
    margin: 0;
    font-family: Proxima Nova;
    color: grey;
    font-size: 18px;
}

/**********************************clear********************************/
    *{
        box-sizing: border-box;
    }

    li{
        list-style: none;
    }

    a, a:hover, a:focus{
        text-decoration: none;
    }

    ul{
        margin: 0px;
    }

    ul{
        padding: 0px;
    }
    

/**********************************usual********************************/


    /*************img resizing****************/
    .img-fluid {
        width: 100%;
        height: auto;
    }

    .img-fluid-h {
        height: 100%;
        width: auto;
    }

    /*************text adjust*****************/

    .justify {
        text-align: justify; 
    }

    /* parallel - center */
    .center {
        text-align: center;
    }

    /* vertical - center */
    /*the prarent node should better have a fixed height 
    and be relateive/fix/absolute*/
    .center-h{
        position: relative;
        top: 50%;
        -ms-transform: translate(0, -50%); /* IE 9 */
        -webkit-transform: translate(0, -50%); /* Safari */
        transform: translate(0, -50%);

    }

    /*************div adjust*****************/

    /* with wider left&right padding */
    .wider{
        padding-left: 35px;
        padding-right: 35px; 
    }

    /* with wider distance between row and row*/
    .row{
        margin-bottom: 30px;
    }


    /*************  colors ****************/
    .blue{
        color: #1058a2;
    }

    .white{
        color: #f9f9f9;
    }

    .red{
        color: #b31b1b; 
    }

    .blue a{
        color: #1058a2;
    }


/******************************topnav & botnav********************************/

    /*************nav-head****************/
    .nav-head{
        height: 100%;
        float: left;
        padding: 2px 45px 2px 25px; 
    }

    .nav-head > *{
        display: block;
        float: left;
        margin-left: 20px;
    }

    /*************nav-right****************/
    .nav-right{
        padding-right: 45px;
        float: right;
        height: 100%;

    }

    .nav-right li{
        float: left;
        margin-left: 42px;    
    }

    .nav-toggle{
        margin-right: 20px;
        display: none;
        padding: 8px 10px 13px 10px;
        background-color: #1058a2;
        float: right;
        border:1px solid transparent;
        border-radius: 5px;
    }

    .nav-toggle .icon{
        display: block;
        margin-top: 6px;
        width: 25px;
        height: 2px;
        background-color: #f9f9f9;
        border-radius: 1px;
    }

    /****************top nav detail**********************/
    .topnav {
        /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)*/;
        border-bottom:  1px solid #f2f2f2; 
        background-color: #f9f9f9;
        width: 100%;
        position: fixed;
        top: 0px;
        z-index: 500;
        height: 80px;
        font-size: 20px;
        padding: 0px;
    
    }

    .topnav .nav-head {
        height: 80px;
    }
    .topnav .nav-head a{
        margin-top: 10px;
        margin-bottom: 10px; 
    }

    /* Change the color of links on hover */
    .topnav .nav-right a:hover {
        border-bottom: 2px solid #b31b1b;
        }

    /* Add a color to the active/current link */
    .topnav .nav-right a:active {
        border-bottom: 2px solid #b31b1b;
        
    }

    .topnav .nav-right a.active{
         border-bottom: 2px solid #b31b1b;
    }

    .topnav .nav-right li{
        margin-top: 25px;
        margin-bottom: 25px; 
    }


    /****************bottom nav detail**********************/
    .botnav {
        /*background-image: url("images/bar.jpg");*/
        background-color: gray;
        overflow: hidden;
        width: 100%;
        position: relative;
        bottom: 0px;
        left: 0;
        font-size: 16px;
        height: 60px;
        padding: 0 45px 0 25px;
    }

    /* Style the links inside the navigation bar */
    .botnav .nav-right a {
        color: #d3d3d3;
    }

    /* Change the color of links on hover */
    .botnav .nav-right a:hover {
        color: #fff;
    }

    /****************** nav responsive ********************/
    @media (max-width: 1200px){

        .topnav{
            height: auto;
        }

        .topnav .nav-toggle{
            display: block;
        }

        .topnav .nav-head{
            border-bottom: 1px solid #fff; 
            float: none;
        }

        .topnav .nav-right{
            padding: 0px;
            float: none;
            display: none;
        }

        .topnav .nav-right li{
            background-color: #f9f9f9;
            display: block;
            float: none;
            border-bottom: 1px solid #fff; 
            margin: 0;
            padding: 20px 55px;
        }

        .topnav .nav-right li:hover{
            background-color: #ffffff;
            font-style: italic;
        }

        .topnav .nav-right a:hover {
            border-style: none;
        }


        
    }


/*******************************Main Content*************************************/
    #content {
        padding: 2.4em 0;
        width: 100%;
    }

    .content {
        margin-top: 80px;
        padding: 2.4em 0;
        width: 100%;   
    }

    @media (min-width: 1200px)
    {
        .container{
            margin-left: auto;
            margin-right: auto;  
            width: 1000px; 
        }
    }


/********************************About page**********************************/
    .banner{
        margin-top: 80px;
        clear: both;
        background: url("images/hike.jpg");
        background-position: center 70%;
        background-size: cover;
        height: 550px;
    }

    .banner h1{
        font-size: 55px;
        width: 100%;
        color: #f9f9f9;
        font-family: Catamaran;
    }

/********************************Member page**********************************/
.bio-section {
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 10px;
    background-color: rgba(245, 245, 245, 0.60);
}

.team-member-mouseover-box {
  bottom: 30px;
  top: 0;
  left: 15px;
  right: 15px;
  position: absolute;
  transition: all 250ms ease;
}

.team-member-mouseover-box:hover{
  background: rgba(96,125,139,.4);
  box-shadow: inset 0 0 0 1px #607d8b;
}

.team-member {
  cursor: pointer;
  margin-bottom: 30px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-member-photo {
}

.selected-team-member{
  border:thin solid #607d8b;
}

.member-detail-h2{
  color: #616161;
  font-size: 33px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
}

.member-detail-h4{
  color: #616161;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.3;
}

.member-icon{
  max-width: 100px;
  margin-top: -2px;
  padding-right: 30px;
}

.member-detail-p{
  margin: 0 0 10px;
  font-size: 19px;
}

.bannermem{
    margin-top: 80px;
    clear: both;
    background: url("images/team1.jpg");
    background-position: center 55%;
    background-size: cover;
    height: 400px;
}

.bannermem h1{
    font-size: 55px;
    width: 100%;
    color: #f9f9f9;
    font-family: Catamaran;
    margin-top: 0px;
}
/********************************Subteam page**********************************/

    .bannersub{
        margin-top: 80px;
        clear: both;
        background: url("images/groupb.jpg");
        background-position: center 50%;
        background-size: cover;
        height: 400px;
    }

    .bannersub h1{
        font-size: 55px;
        width: 100%;
        color: #f9f9f9;
        font-family: Catamaran;
        margin-top: 0px;
    }

    .bannersub h2{
        font-size: 22px;
        width: 100%;
        color: #f9f9f9;
        font-family: Proxima Nova;
        margin-top: 0px;
    }

    .containersub {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 115px;
    }

    input[type=button], input[type=submit], input[type=reset] {
        background-color: #grey;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }

    .subteam-bar{
        font-size: 24px;
    }



/********************************Sponsor page**********************************/

    .sponsors .bannersub{
        margin-top: 80px;
        clear: both;
        background: url("images/hike1b.jpg");
        background-position: center 50%;
        background-size: cover;
        height: 400px;
    }

    .sponsors a{
        color: #f9f9f9;
        border-style: solid;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-bottom-color: #b31b1b;
    }
    .sponsors a:hover{
        border-bottom-color: #1058a2;
    }


/********************************Contact page**********************************/

    .contact{
        color: #000;
    }

    .contact .content{
        font-size: 15px;
        background-position: center 50%;
        background-size: cover;
        min-height: 680px;
        background-image: url("images/banner.jpg");
        /*background-color: #1058a2;*/
        opacity: 0.8;
    }

    .contact .shadow{
        padding: 40px 40px;
    }

    .contact .shadow-white{
        padding: 40px 40px;
        background-color: #fff;
        opacity: 0.8;
    }
    

    .contact-form{
        color: grey;
        display: block;
        width: 100%;
        padding: 12px 12px;
        font-size: 15px;
        color: #555;
        background-color: #fff;
        border: 1px solid #ccc;
        margin-bottom: 12px;
    }

    .block{ 
        width: 80%;
        padding: 12px 12px;
        font-size: 15px;
        color: #555;
        background-color: #fff;
        border: 1px solid #ccc;
        margin-bottom: 12px; 
    }

    .contact .info p{
        color: #fff;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 20px;

    }

    form .row{
        margin-bottom: 0px;   
    }

    form{
        opacity: 0.8;
    }

    .contact .bb{
        padding: 10px 20px;
        background-color: #333;
        border: 1px solid #fff;
        color: #f9f9f9;
        font-size: 15px;
    }

    .contact .bb:hover{
        border: 1px solid #333;
        background-color: #fff;
        color: #555;   
    }


